{% extends "layout.html" %}
{% load django_bootstrap5 %}
{%block content %}
<div class="card t-mt-[30px]">
            <div class="card-header">
                질문등록
            </div>

            <div class="card-body">
                {% if user.is_authenticated %}

                <form method="POST">
                    {% csrf_token %}

                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="질문작성" %}
                    {% bootstrap_button button_type="reset" content="초기화" %}

                </form>
                {% else %}
                <div class="t-text-gray-400">
                    <a href="{% url 'accounts:signin' %}?next={{request.get_full_path}}">로그인</a> 후 이용해주세요.
                </div>
                {% endif %}

                {% if form.errors %}
                <script>
                    let $lastForm = $('form').last();
                    $(window).on('load', function() {
                        $(window).scrollTop($lastForm.offset().top);
                    });


                </script>
                {% endif %}

            </div>
        </div>
{%endblock%}