{% extends "layout.html" %}
{% load django_bootstrap5 %}
{%block content %}
<section class="section-prod-detail mt-4">
    <div class="container">
        <h1>기본정보</h1>
        <div>
            번호 : {{products.id}}
        </div>
        <div>
            등록 : {{products.reg_date}}
        </div>
        <div>
            수정 : {{products.update_date}}
        </div>
        <div>
            이름 : {{products.display_name}}
        </div>
        <div>
            가격 : {{products.sale_price}}원
        </div>
        <div>
            마켓 : {{products.market.name}}
        </div>
        <h1 class="mt-3">옵션</h1>
        <ul>
            {% for product_real in product_reals %}
            <li>
                {{product_real.option_1_type}} : {{product_real.option_1_display_name}}
                /
                {{product_real.option_2_type}} : {{product_real.option_2_display_name}}
            </li>
            {% endfor %}
        </ul>
    </div>
         <a href="{% url 'products:question_create' products.id %}" class="btn btn-primary">질문 등록하기</a>
    <div class="card t-mt-[30px]">
            {% if messages %}
            <div class="alert alert-success my-3" role="alert">
            {% for message in messages %}
               <strong>{{ message.tags }}</strong>
                <ul><li>{{ message.message }}</li></ul>
            {% endfor %}
            </div>
            {% endif %}
            <div class="card-header">
                질문리스트
            </div>
            <ul class="list-group list-group-flush">
                {% for question in questions %}
                <li class="list-group-item">
                    <span class="badge bg-secondary">{{ forloop.counter }}</span>
                    {{question.body}}
                    {% if request.user == question.user %}
                    <div class="my-1">
                        <a href="{% url 'question:question_modify' question.id  %}"
                        class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="{% url 'question:question_delete' question.id  %}"
                        class="btn btn-sm btn-outline-secondary">삭제</a>
                    </div>
                    {% endif %}<br>
                    <span class="badge bg-secondary">작성자 : {{question.user.username}}</span><br>
                    <span class="badge bg-secondary">작성일 : {{question.reg_date}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
</section>
{%endblock%}
