{% extends "layout.html" %}
{% load humanize %}
{% load django_bootstrap5 %}

{%block content %}

<section class="section-prod-detail">
    <div class="container">
        <div class="card">
            <div class="card-header">
                상품상세정보
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img class="t-w-full t-max-w-[300px] t-rounded" src="{{products.thumb_img_url}}" alt="">
                </li>
                <li class="list-group-item">
                    <span class="t-w-16 t-inline-block">번호</span>
                    <span class="badge bg-primary">{{products.id}}</span>
                </li>
                <li class="list-group-item">
                    <span class="t-w-16 t-inline-block">마켓</span>
                    <span class="badge bg-primary">{{products.market.name}}</span>
                </li>
                <li class="list-group-item">
                    <span class="t-w-16 t-inline-block">상품명</span>
                    <span class="t-font-bold">{{products.display_name}}</span>
                </li>
                <li class="list-group-item">
                    <span class="t-w-16 t-inline-block">가격</span>
                    <span class="t-font-bold">{{products.sale_price|intcomma}}</span>원
                </li>
                <li class="list-group-item">
                    <span class="t-w-16 t-inline-block">색상</span>
                    {{products.colors|safe}}
                </li>
            </ul>

        </div>

        <div class="card t-mt-[30px]">
            <div class="card-header">
                옵션
            </div>

            <div class="card-body">
                <table class="table table-hover">
                    <colgroup>
                        <col class="sm:t-w-40">
                        <col class="sm:t-w-40">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>사이즈</th>
                        <th>색상</th>
                        <th>품절</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product_real in product_reals %}
                    <tr>
                        <td>
                            {{product_real.option_1_display_name}}
                        </td>
                        <td>
                            {{product_real.option_2_display_name}}
                        </td>
                        <td>
                            {% if not product_real.is_sold_out %}
                            <span class="badge bg-primary">판매중</span>
                            {% else %}
                            <span class="badge bg-secondary">품절</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <div class="card t-mt-[30px]">
        <div><a href="{% url 'products:question_create' products.id %}" class="btn btn-primary">질문 등록하기</a></div>
            {% if messages %}
            <div class="alert alert-success my-3" role="alert">
            {% for message in messages %}
               <strong>{{ message.tags }}</strong>
                <ul><li>{{ message.message }}</li></ul>
            {% endfor %}
            </div>
            {% endif %}
            <div class="card-header">
                질문리스트
            </div>
            <ul class="list-group list-group-flush">
                {% for question in questions %}
                <li class="list-group-item">
                    <span class="badge bg-secondary">{{ question.id }}</span>
                    {{question.body}}
                    {% if request.user == question.user %}
                    <div class="my-1">
                        <a href="{% url 'question:question_modify' question.id  %}"
                        class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="{% url 'question:question_delete' question.id  %}"
                        class="btn btn-sm btn-outline-secondary">삭제</a>
                    </div>
                    {% endif %}<br>
                    <span class="badge bg-secondary">작성자 : {{question.user.username}}</span><br>
                    <span class="badge bg-secondary">작성일 : {{question.reg_date}}</span>
                </li>
                {% endfor %}
            </ul>
                <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if questions.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ questions.previous_page_number }}">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in questions.paginator.page_range %}
                    {% if page_number == questions.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if questions.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ questions.next_page_number }}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
        </div>
</section>
{%endblock%}
