{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<h1>{{ products.display_name }}</h1>

<div>
    정가 :
    {{ products.price }}
</div>

<div>
    할인가 :
    {{ products.sale_price }}
</div>

<p>옵션</p>
<div>
    <ul>
    {% for product in products.productreal_set.all %}
        <li>{{ product.option_1_type }} : {{ product.option_1_display_name }}</li>
        <li>{{ product.option_2_type }} : {{ product.option_2_display_name }}</li>
    </ul>
    {% endfor %}
</div>