.t-mt-\[30px\] {
  margin-top: 30px;
}

.t-w-\[100px\] {
  width: 100px;
}

.t-bg-\[\#afafaf\] {
  --tw-bg-opacity: 1;
  background-color: rgb(175 175 175 / var(--tw-bg-opacity));
}

@font-face {
  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}