.t-fixed {
  position: fixed;
}

.t-mt-\[100px\] {
  margin-top: 100px;
}

.t-resize {
  resize: both;
}

.t-underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.\[content\:\'hello\'\] {
  content: 'hello';
}

.\[content\:\"hello\"\] {
  content: "hello";
}

@font-face {  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body {  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

@media (prefers-color-scheme: dark) {
  @media (min-width: 1024px) {
    .dark\:lg\:hover\:\[paint-order\:markers\]:hover {
      paint-order: markers;
    }
  }
}